html {
  background: #0AA0F3;
}

body {
  width:960px;
  margin: 0 auto;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: #A4A9AD;
}

a:hover {
  background-color: orange;
}

header {
  background-color: #23001E;
  height: 100px;
}

header ul li{
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
}


main ul li {
  display: inline-block;
  float:left;
  margin: 30px 20px 20px 0px;
}

section img {
  margin:12px;
  height: 250px;
  width:250px;
}

footer {
  clear: both;
  background: #23001E;
  height: 150px;
}

nav {
  text-align: center;
}

nav ul li:hover {
  background-color: #0AA0F3;
}

h1 {
  text-align: center;
}

p {
  color:black;
  text-align: center;
}

main {
  background-color: #EF5B5B;;
}

#foot {
  color: #A4A9AD;
  text-align: center;
  position: relative;
  top: 15px;
}

#gabby {

}

#gabby h1 {
  text-align: left;
  position:relative;
  left: 75px;
}

#gabby p {
  text-align: left;
}

#gabby aside {
  position:relative;
  left: 400px;
  bottom: 200px;
  width: 500px;
}

#katherine {

}

#katherine h1 {
  text-align: left;
  position: relative;
  left: 55px;
}

#katherine p {
  text-align: left;
}

#katherine aside {
  position: relative;
  left: 400px;
  bottom: 200px;
  width: 500px;
}

#kyle {

}

#kyle h1 {
  text-align: left;
  position: relative;
  left: 70px;
}

#kyle aside {
  position: relative;
  left: 400px;
  bottom: 200px;
  width: 500px;
}

#zach {

}

#zach h1 {
  text-align: left;
  position: relative;
  left: 50px;
}

#zach aside {
  position: relative;
  left: 400px;
  bottom: 200px;
  width: 500px;
}

img {
  position: relative;
  left: 20px;
}

#descrip {
  margin-bottom: 10px;
}

#teammail {
  text-align: center;
  position: relative;
  top: 15px;
}
