body {
  width:960px;
  margin: 0 auto;
  font-family: font-family: 'Luckiest Guy', cursive;
  background-image: url('https://media.giphy.com/media/l3vRa54QvUSqyYKME/giphy.gif');
}

a {
  text-decoration: none;
  color: #A4A9AD;
}

a:hover {
  background-color: orange;
}

header {
  background: #23001E;
  height: 100px;
}

header ul li{
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
}

main  {
  width: 960px;
  margin: 30px auto;
}

main ul li {
  display: inline-block;
  float:left;
  margin: 30px 20px 20px 0px;
}

section img {
  margin:5px;
  height: 250px;
  width:250px;
}

button {
  border: none;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: 350ms all;
  cursor: pointer;
}

button:hover {
  background: #0AA0F3;
}

footer {
  clear: both;
  background: #23001E;
  height: 150px;
  margin-bottom: 40px;
}

nav {
  text-align: center;
}

nav ul li:hover {
  background-color: orange;
}

h1 {
  text-align: center;
}

p {
  color:black;
  text-align: center;
}

main {
  background-color: #EF5B5B;
}

#bradyTable {
  position: relative;
  left: 35px;
  background-color: #0AA0F3;
  width: 900px;
  height: 900px;
}

#new-game {
  position: relative;
  left: 415px;
}

#foot {
  text-align: center;
  position: relative;
  top: 70px;
}

table {
  position: relative;
  left: 370px;
  border: 2px black solid;
  background-color: black;
}

tr {
  border: 2px black solid;
  background-color: grey;
}

td {
  border: 2px black solid;
  text-align: center;
  padding: 15px;
}

form {
  position:relative;
  left: 430px;
}

#gabby {
  float:left;
}

#katherine {
  margin-left: 10px;
}

#kyle {
  float:left;
  margin-top: 10px;
}

#zach {
  margin-left: 10px;
  margin-top: 10px;
}

img {
  position: relative;
  left: 20px;
  height: 300px;
  width: 300px;
}

#descrip {
  margin-bottom: 10px;
}

#gameForm {
  left: 300px;
  border: none;
}

#fieldset {
  border-style: none;
}

/*clock style*/
#clock {
  text-align: left;
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #0AA0F3;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #EF5B5B;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
